
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 79 30% 98%;
    --foreground: 0 0% 0%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    
    --primary: 79 51% 55%;
    --primary-foreground: 0 0% 0%;
    
    --secondary: 0 0% 0%;
    --secondary-foreground: 79 51% 55%;
    
    --muted: 79 20% 92%;
    --muted-foreground: 0 0% 30%;
    
    --accent: 79 51% 55%;
    --accent-foreground: 0 0% 0%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 79 51% 55%;
    
    --chart-1: 79 51% 55%;
    --chart-2: 0 0% 0%;
    --chart-3: 79 40% 40%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-arial text-[14px] font-normal leading-relaxed;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-arial font-bold text-[16px];
  }
  p {
    @apply text-[14px] font-normal;
  }
}
